:root {
    --color-primary: hsl(25, 97%, 53%)
}

.btn {
    color: aqua;
}

#main {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#numbers {
    display: flex;
}